html {
  background-color: #f5f5f5;
  overflow: -moz-scrollbars-vertical;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: 0;
}

object {
  display: none;
}

nav > h4 {
  display: none;
}
