@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Space+Mono';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
  font-family: 'neue-haas-grotesk-display';
  src: url('../font/neue-haas-grotesk-display/neue-haas-grotesk-display.eot');
  src:
    url('../font/neue-haas-grotesk-display/neue-haas-grotesk-display.eot#iefix') format('embedded-opentype'),
    url('../font/neue-haas-grotesk-display/neue-haas-grotesk-display.ttf') format('truetype'),
    url('../font/neue-haas-grotesk-display/neue-haas-grotesk-display.woff') format('woff'),
    url('../font/neue-haas-grotesk-display/neue-haas-grotesk-display.svg#neue-haas-grotesk-display') format('svg');
  font-weight: normal;
  font-style: normal;
}
